{{ partial "header.html" . }}
{{ partial "banner_ad.html" . }}
<div class="container-black ui-208">
    <div class="container">
        <h3 style="margin: 0px; line-height: 35px; padding-top: 20px;">
            <span class="orange">{{ len .Data.Pages }}</span> <span class="white" >{{ .Title }}</span>
        </h3>
        <hr class="br-white" style="margin: 0;" />
        <div class="row recipes-list" style="margin-top: 20px;">            
            {{ range .Data.Pages }}
                {{ .Render "li" }}
            {{ end }}
        </div>                        
    </div>    
</div>
{{ partial "footer.html" . }}
