{{ partial "header.html" . }}
{{ partial "banner_ad.html" . }}
<div class="container">
    <div class="ui-2">
        <div class="row">
            <div class="col-xs-12">
                <div class="ui-item">
                    <div class="ui-head">
                        <h2 style="float: none; display: block; text-align: center"><span class="blue">Oh no</span>! <span class="orange">You</span>'<span class="orange">re</span> <span class="green">lost</span>!</h2>
                    </div>
                    <hr />
                    <h5 style="padding-top: 100px; padding-bottom: 100px;  text-align: center; font-size: 36px;"><span>This page cannot be found </span><i style="padding-left: 15px; vertical-align: middle;" class="fa fa-2x fa-frown-o"></i></h5>                    
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
